.idea/*
.env
.coverage
**/.coverage
**/__pycache__
literature_ingest.egg-info/*
src/literature_ingest.egg-info/*
src/literature_ingest.egg-info/dependency_links.txt
logs/*
secrets/*
data/*
.DS_Store
tests/resources/json_versions/*
notebooks/.ipynb_checkpoints/*
